@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Inter&family=Poppins&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

/* * {
  font-family: "Inter", sans-serif;
} */

/* footer{
    font-family: 'Inter',sans-serif;
} */
